<div class="container mt-4">
  <h4 class="mb-3">Clientes</h4>
  <table class="table table-bordered table-striped">
    <thead class="table-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Razón Social</th>
        <th scope="col">RFC</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lists of list">
        <td>{{lists.IDCLIENTE}}</td>
        <td>{{lists.RAZON_SOCIAL}}</td>
        <td>{{lists.RFC}}</td>
        <td class="text-center">
          <button (click)="deleteClient(lists.IDCLIENTE)"  class="btn btn-sm btn-danger me-2">Borrar</button>
          <button class="btn btn-sm btn-warning me">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
